html {
  font-size: 14px;
}

body {
    background:#e8e8e8;
    font-family: 'Oxygen', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.container-fluid {
    padding: 0 40px 0 40px!important;
}

.navbar {
    background: #fff!important;
    color: #0e0e0e;
    padding:15px 0;
}

.footer {
    color: #fff;
    background: #151515;
}